body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #434455;
    background-color: #fff;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.main-header {
    background-color: #ffffff;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
a {
    text-decoration: none;
    font-family: inherit;
    color: inherit; 
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
a:hover, 
a:active,
a:focus,
.nav-link.carrent 
{
    color: #404bbf;
   
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1158px; 
    padding: 0 15px;  
    margin: 0 auto;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}
.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.heder-logo {
    padding: 24px 0;
    margin-right: 76px;
}
.logo-text {
    font-family: "Raleway", sans-serif;
    color: #2e2f42;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.section {
    padding: 120px 0;
}
.nav-list {
    display: flex;
    align-items: center;
    color: #2e2f42;
    gap: 40px;
}

.nav-item.carrent::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    
} 
.nav-link {
    display: block;
    padding: 24px 0;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.nav-link.carrent {
    position: relative;
}
.nav-link.carrent::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: #404BBF;
    border-radius: 2px;
}
.nav-item {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}   
.contacts {
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    margin-left: auto;
}
.contacts-list {
    gap:40px;
    display: flex;
    align-items: center;
}
.contacts-link {
    display: block;
    padding: 24px 0;
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    gap: 40px;
}

.section-hero {
    background-color: #2e2f42;
    margin: 0 auto;
    padding: 188px 0;
    background-image: url(../images/people-office.jpg);
    background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 1440px;
   

} 
.section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    color: #ffffff; 
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    width: 496px;
    text-align: center;
    margin: 0;
    padding: 0;
    
}
.btn-primary {
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-family: inherit;
    color: #ffffff;
    background-color: #4d5ae5;
    cursor: pointer;
    padding: 16px 32px;
    margin-top: 48px;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.btn-primary:hover,
.btn-primary:focus {
    background-color: #404bbf;
}
     
h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin: 0;
    padding: 0;
}
.team-section {
   background-color: #f4f4fd; 
   text-align: center;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.hero-container {
    width: calc((100% - 72) / 4); 
}
.text-hero {
   margin: 0 auto;
}
.hero-item {
   width: 264px;
   
}
.hero-list {
     display: flex;
     column-gap: 24px;
     justify-content: center;
}
.hero-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
}
h3 {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin: 8px 0;
    
}
.hero-text {
    width: 264px;
}
p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin: 0;

}
.team-text {
    padding-bottom: 72px;
}
.team-list {
    display: flex;
    justify-content: center;
    column-gap: 24px;
    margin: 0;
}
.team-item {
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);

}
.name-post {
    background-color: #ffffff;
    display: flex;
    margin: 0 auto;
    padding: 32px 16px;
    align-items:normal;
    flex-direction: column;
    row-gap: 8px;
    border-radius: 0 0 4px 4px;
   
}
.social-link-team {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.team-social {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social:hover,
.team-social:focus {
    background-color: #404bbf;
}
.text-portfolio {
    padding-bottom: 72px;
    text-align: center;
}
.portfolio-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-item-overlay {
    position: relative;
    overflow: hidden;
} 
.portfolio-item:hover .portfolio-item-overlay .text-overlay {
    transform: translateY(0);
} 
.text-overlay { padding: 40px 32px 164px;
    transform: translateY(100%);
    transition: transform 300ms ease-in-out;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color:#f4f4fd;
    width: 360px; 
    height: 300px;
    
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap; 
    row-gap: 48px;
    column-gap: 24px;
    position: relative;
}

.portfolio-name {
    border: 1px solid #E7E9FC;
    padding: 32px 16px;
    height: 120px;
    border-top: none;
}
.portfolio-text {
    margin-bottom: 8px;
    margin-top: 0;
}
img {
    display: block;
}
.footer-container {
   display: flex;
    align-items: baseline;
}
.title-logo {
    margin-right: 120px;
}
.main-footer {
    max-width: 100%;
    height: 320px;
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
   
}
.text-footer {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;  
    color: #f4f4fd;
    width: 264px;
    margin-top: 16px;
}
.footer-logo {
    color: #f4f4fd;
margin-left: auto;
 width: 453px;
    height: 80px;

}
.footer-text {
    color: #ffffff;
   margin-bottom: 16px;
    font-weight: 500;
}
.footer-social-list {
    display: flex;
    gap: 16px;
}
.footer-social-link {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover,
.footer-social-link:focus {
   background-color: #31d0aa;
}
.footer-social-link {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
} 
.footer-form {
   
    margin-left: auto;
}
.footer-frame {
    width: 453px;
    height: 80px;
    display: flex;


}
.input-subscribe {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;   
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color:  #2e2f42;
    padding-top: 8px;
    padding-left: 16px;
    padding-bottom: 8px;
   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: auto;
    outline: none;
    color: #fff;
}
    
.input-subscribe::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
}
.input-subscribe:hover,
.input-subscribe:focus
{
    border-color: #31d0aa;
}

.button-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 24px;
    padding: 8px 24px;
    width: 165px;
    height: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   border: none;
}
.icon-frame {
    margin-left: 16px;


}
.button-form:hover,
.button-form:focus {
    background-color:  #31d0aa;
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    width: 100%;
    height: 100%;

    background-color: rgba(46, 47, 66, 0.4); 

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    padding: 72px 24px 24px 24px;

    background-color: #fcfcfc;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
}
.popup-review {
    position: relative;
}
.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -50%) scale(1.5);
}
.form-close { 
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
}
.form-close:hover,
.form-close:focus {
    fill: #fff
} 
.close-popup {
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 24px;
    line-height: 0;
    padding: 0;
    stroke-width: 1px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background-color: #e7e9fc;
      fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
   background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 
    
.close-popup:hover,
.close-popup:focus {
    background-color: #404BBF;
     fill: #fff;
}
.icon-close: { 
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-close:hover,
.icon-close:focus + {
    fill: #fff;
} 


.text-popup {
    font-weight: 500;
    text-align: center;
    color: #2e2f42;
    top: 72px;
    width: 360px;
    height: 24px;
    margin-bottom: 16px;

}
.field-wrapper {
    margin-bottom: 8px;
    position: relative;
    fill: #2E2F42
    
}
.area-wrapper {
    margin-bottom: 16px;
}
.label-field {
    font-family: inherit;
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99; 
    

}
.checkbox-field { 
 margin: 0;
}
.input-field {
    position: relative;
    margin-top: 4px;
}
.text-field {
    font-family: inherit;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 40px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 8px 10px 8px 38px;
    
}
.text-comment {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    resize: none;
    padding-left: 16px;
    padding-top: 8px;

}
.icon-form {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left: 16px;
    bottom: 8px;
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text-field:focus + .icon-form {  
    fill: #4D5AE5;
}
.text-comment::placeholder {
    font-family: inherit;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgb(46, 47, 66, 0.4);
    }
.text-field:focus,
.text-comment:focus {
   border: 1px solid #4D5AE5;
   outline: none;
}
.privacy-link {
    margin-left: 4px;
    text-decoration: underline;
    color: #4D5AE5;
}
.privacy-link:hover,
.privacy-link:focus {
    text-decoration: none;
}
.label-field {
    display: flex;
    margin-bottom: 4px;
    align-items: baseline;
   fill: #fff;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-vector {
    opacity: 0;
}
.icon-vector:checked {
    opacity: 1;
}
.input-checkbox:checked + .label-field .custom-checkbox {
    background-color: #404BBF;
    border-radius: 2px;
    fill: #F4F4FD;
    border: 1px solid #404BBF;
}
.custom-checkbox { 
    fill: none;
    margin-right: 8px;
   display: flex;
   justify-content: center;
   align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);



}
.button-send {
    display: flex;
    gap: 20px;
    justify-content: center;
}
.button-wrapper {
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
   background-color: #4D5AE5;
   color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
    margin-top: 24px;
    
}
.button-wrapper:hover,
.button-wrapper:focus {
  background-color: #404BBF;
}