body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #434455;
    background-color: #fff;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
a {
    text-decoration: none;
    font-family: inherit;
    color: inherit; 
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
a:hover, 
a:active,
a:focus,
.nav-link.carrent 
{
    color: #404bbf;
   
}
ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
img {
    display: block;
    width: 100%;
    height: auto;
}
button {
    cursor: pointer;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container {
    max-width: 320px; 
    padding: 0 16px;  
    margin: 0 auto;
}
@media screen and (min-width: 768px) {
    .container {
    max-width: 768px;
    }
}
@media screen and (min-width: 1158px) {
    .container {
    max-width: 1158px; 
    padding: 0 15px;  
    }
}
/* header */
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-header {
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.logo {
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.heder-logo {
    padding: 16px 0;
    display: block;
}
.logo-text {
    font-family: "Raleway", sans-serif;
    color: #2e2f42;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercas;
}
.nav-list,
.contacts {
     display: none;
}
.burger-btn {
        padding: 0;
        background-color: transparent ;
        border: none;
}
.icon-burger {
        display: block;
        fill: #2f2f37
}
@media screen and (min-width: 768px) {
    .header-nav {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .heder-logo {
        padding: 24px 0;
        margin-right: 120px;
        display: block;
    }
     .nav-list {
        display: flex;
        align-items: center;
        color: #2e2f42;
        gap: 40px;
    }
    .nav-link {
        display: block;
        padding: 24px 0;
        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
    }
     .nav-link.carrent {
        position: relative;
    }
    .nav-link.carrent::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        bottom: 0;
        left: 0;
        background-color: #404BBF;
        border-radius: 2px;
    }
    .burger-btn {
            display: none;
    }
    .nav-item {
        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }   
    .nav-item.carrent::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px; 
    } 
     .contacts {
        display: block;
        font-family: inherit;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        font-style: normal;
    }
    .contacts-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .contacts-link {
        display: block;
        font-family: inherit;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}
@media screen and (min-width: 1158px) {
    .heder-logo {
        margin-right: 76px;
    }
    .contacts-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }
    .contacts-link {
        padding: 24px 0;
        font-family: inherit;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}
/* mobile-menu */
    .mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition:  opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .mobile-menu.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
    .mobile-menu-container {
        position: relative;
        padding-top: 72px;
        padding-bottom: 40px;

        display: flex;
        flex-direction: column;
        height: 100%;
        fill: #2e2f42;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
}
.mobile-menu-container:hover,
.mobile-menu-container:focus {
    fill: #fff;
} 

    .close-menu {
        position: absolute;
        top: 24px;
        right: 24px;
        width: 24px;
        height: 24px;
        line-height: 0;
        padding: 0;
        border-radius: 100%;
       background-color: #E7E9FC;
        stroke-width: 1px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        fill: #2e2f42;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }
    .close-menu:hover,
    .close-menu:focus {
        background-color: #404BBF;
        fill: #fff;
        border: none;
} 
    .nav-menu {
        margin-bottom: auto;
    }
    .nav-list-menu {
        display: flex;
        flex-direction: column;
        gap: 40px;

        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
    }
    .contacts-list-menu {
        display: flex;
        flex-direction: column;
        gap: 24px;
        

        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
    }
        
        .social-list-menu {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 40px;
            margin-top: 48px;
          
        }
         .social-item-menu {
            width: 40px;
            height: 40px;
            background-color: #4D5AE5;
            border-radius: 50%;
            display: flex;
            justify-content:center;
            align-items: center;

         }
         .social-link-menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
         }
         .social-icon-menu {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
         }
       .social-link-menu:hover,
       .social-link-menu:focus {
        background-color: #404bbf;
}
@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}
.section {
    padding: 96px 0;
}
@media screen and (min-width: 1158px) {
    .section {
    padding: 120px 0;
    }
}
.section-hero {
    background-color: #2e2f42;
    margin: 0 auto;
    padding: 72px 0;
    background-image: url("../images/Dark.tel.jpg");
    background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/Dark.tel.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 320px;
    height: 432px;
}
 
.section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    color: #ffffff; 
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    width: 496px;
    text-align: center;
    margin: 0;
    padding: 0;
    max-width: 216px;
    height: 160px;
}
.btn-primary {
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-family: inherit;
    color: #ffffff;
    background-color: #4d5ae5;
    cursor: pointer;
    padding: 16px 32px;
    margin-top: 72px;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-primary:hover,
.btn-primary:focus {
    background-color: #404bbf;
}
@media screen and (min-width: 768px) {
    .section-hero {
        padding: 112px 0;
        background-image: url("../images/Dark.tab.jpg");
        background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/Dark.tab.jpg");
        max-width: 768px;
        height: 436px;
    }
    h1 {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        height: 120px;
    }
    .btn-primary {
        margin-top: 36px;
    }
}
@media screen and (min-width: 1158px) {
    .section-hero {
        padding: 188px 0;
        background-image: url("../images/people.d.x.jpg");
        background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/people.d.x.jpg");
        max-width: 1440px;
        height: 608px;
    }
   
    .btn-primary {
        margin-top: 48px;
    }
}
    h2 {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin: 0;
        padding: 0;
    }
    .hero-container {
        max-width: 320px; 
        max-height: 888px;
    }
    .hero-list {
        display: flex;
        flex-direction: column;
        gap: 72px;
        justify-content: center;
        align-items: center;
        padding: 96px 0;
    }
    .hero-svg {
        display: none;
    }
    h3 {
        color: #2e2f42;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        margin: 0 0 8px 0;
    }
    .hero-text {
        max-width: 288px;
    }
    p {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        margin: 0;
        padding: 0;
    }
@media screen and (min-width: 768px) {
    .hero-container {
        max-width: 768px; 
        height: 504px;
    }
    .hero-list {

        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
    }
    .hero-item {
        flex-basis: calc((100% - 24px) / 2);
    }
    h3 {
        text-align: start;
    }
}
@media screen and (min-width: 1158px) {
    .hero-container {
        max-width: 1440px; 
        height: 464px;
    }
    .text-hero {
   margin: 0 auto;
    }
    .hero-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
    }
    .hero-list {
     flex-wrap: nowrap;
     row-gap: 24px;
     justify-content: center;
     align-items: center;
     margin: 120px 0;
     max-width: 1158px;
    }
        .hero-item {
    width: calc((100% - 72) / 4); 
    }
        h3 {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }
    p {
        font-weight: 400;
    }
}
 .team-section {
   background-color: #f4f4fd; 
   text-align: center;
}
.team-text {
    margin-bottom: 72px;
}
.team-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}
.team-item {
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);

}
.name-post {
    background-color: #ffffff;
    display: flex;
    margin: 0 auto;
    padding: 32px 16px;
    align-items: normal;
    flex-direction: column;
    row-gap: 8px;
    border-radius: 0 0 4px 4px;
   
}
.team-name {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.social-link-team {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.team-social {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social:hover,
.team-social:focus {
    background-color: #404bbf;
}
@media screen and (min-width: 768px) {
   .team-container {
    padding: 96px 108px;
   }
    .team-section {
        max-width: 768px; 
        height: 1224px;
    }
    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        align-items: center;
        justify-content: center;
    }
    .team-item {
        flex-basis: calc((100% - 24px) / 2);
    }
    
}@media screen and (min-width: 1158px) {

}